<% form_for(@unauthenticated || Member.new, :url => session_path) do |f| %>
  <h2><%=h @title = 'Log in' %></h2>
  
  <% if flash[:login_error] %>
    <div class="errorExplanation"><%= flash[:login_error] %></div>
  <% end %>
  
  <div class="field">
    <div class="label"><%= f.label :email %></div>
    <div class="field"><%= f.text_field :email, :tabindex => 1 %></div>
  </div>
  
  <div class="field">
    <div class="label"><%= f.label :password %> <%= link_to 'forgot password?', new_password_path, :tabindex => 5 %></div>
    <div class="field"><%= f.password_field :password, :tabindex => 2 %></div>
  </div>
  
  <div class="field">
    <%= f.submit 'Log in', :tabindex => 4 %>
    <%= link_to 'Cancel', root_path, :class => 'cancel', :tabindex => 5 %>
  </div>
<% end %>